/* Reset some default styles */
body, h1, h2, p, button {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

/* Navbar styles */
.navbar {
    background-color: #3498db;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    align-items: center;
}

.file-upload-label {
    cursor: pointer;
}
#logo-upload{
    display: none;
}

.menu-container {
    display: flex;
    align-items: center;
}

.nav-btn {
    padding: 10px;
    background-color: transparent;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 40px;
}

.popup {
    display: none;
    position: absolute;
    background-color: #3498db;
    padding: 10px;
    text-align: center;
    z-index: 1;
    right: 0;
    top: 11.5%;
}

.popup-btn {
    margin: 5px;
    padding: 5px 10px;
    background-color: #ffffff;
    color: #3498db;
    border: none;
    cursor: pointer;
}

.popup-btn:hover {
    background-color: #eeeeee;
}

.color-pickers {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.color-picker {
    margin: 5px;
    cursor: pointer;
}
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4 , 1fr);

}
.welcome-text{
    font-size: 40px;
    grid-row: 1/28;
    grid-column: 1/5;
}
.box {
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    margin: 5px;
}

/* Button container styles */
.button-container {
    text-align: center;
    margin: 20px;
}

.suggested-btn {
    padding: 10px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.suggested-btn:hover {
    background-color: #2980b9;
}
