/* UI */
* {
    background-color: #212121;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.topbar {
    display: flex;
    align-items: center;
    background-color: #008489;
    height: 100px;
    justify-content: flex-end;

}

.colorpickBtn {
    height: 30px; 
    width: 30px;
    border-style: none;
}
.file-upload-container {
    position: relative;
    display: inline-block;
    max-width: 100px;
    margin-right: 70%;
  }
  
  .logouplader {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
  }


label[for="textColorPicker"] {
    background-color: inherit;
}

/* UI */

/* index */
a{
    text-decoration: none;
}
.welcometxt {
    color: white;
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.box {
    background-color: #008489;
    color: white;
    font-size: 24px;
    padding: 20px;
    margin: 50px;
    text-align: center;
    width: 300px;
    height: 400px;
    display: block;
    border-radius: 5px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(25vh - 75px - 50px);
}

.suggestedbtn {
    cursor: pointer;
    background-color: #008489;
    color: white;
    font-size: 25px;
    padding: 15px;
    border: 0;
    border-radius: 5px;
}

.hoverbtn {
    background-color: #008489;
    color: white;
    font-size: 100%;
    padding: 10px;
    border: 0;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    border: solid;
    margin-right: 10px;
}

.popup {
    display: none;
    position: absolute;
    background-color: #008489;
    padding: 10px;
    z-index: 1;
    border-radius: 5px;
    margin-left: 75%;
}

.popup-btn {
    display: block;
    cursor: pointer;
    background-color: #008489;
    margin: 2px;
    color: white;
    font-size: 15px;
    padding: 15px;
    border: 0;
}
#receptenBtn:hover{
font-size: 1.1vw;
}
#ingridientBtn:hover{
font-size: 1.1vw; 
}
#voraadBtn:hover{
font-size: 1.1vw;  
}
/* index */

/* color pickers */

input {
    margin-right: 15px;
}

/* color pickers */