<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Voorraadsysteem</title>
    <link rel="stylesheet" href="../Css/style.css">
</head>
<body>
    <div class="topbar , bgcolor" id="topbar" id="logo-container" style="text-align: center;">
        <div class="file-upload-container , bgcolor">
            <label for="logo-upload" class="file-upload-label , txtcolor , bgcolor">
                <img id="uploaded-logo" src="#" alt="Uploaded Logo" style="max-width: 100%; max-height: 100%;">
            </label>
            <input type="file" id="logo-upload" accept="image/*" onchange="displayLogo()" class="logouplader">
        </div>
        <div class="bgcolor ">
            <button class="hoverbtn , bgcolor , txtcolor" id="popupBtn">+</button>
            <div class="popup" id="popupBox">
                <button class="popup-btn" id="ingridientBtn">+ Ingredienten toevoegen</button>
                <button class="popup-btn" id="receptenBtn">+ Recepten toevoegen</button>
                <a href="Vooraad.html" ><button class="popup-btn" id="voraadBtn">+ Vooraad beheeren</button></a>
            </div>
        </div>
            <br>
            <div class="color-pickers , bgcolor">
                <label for="backgroundColorPicker" class="bgcolor , txtcolor"></label>
                <input type="color" id="backgroundColorPicker" class="colorpickBtn , bgcolor" />
                <label for="textColorPicker"class="bgcolor , txtcolor"></label>
                <input type="color" id="textColorPicker" class="colorpickBtn , bgcolor"/>
            </div>
    </div>
    <h1 class="welcometxt">Welkom Koen</h1>
    <div class="container" id="container">
        <div class="box , bgcolor , txtcolor">asdas</div>
        <div class="box , bgcolor , txtcolor">asdasd</div>
        <div class="box , bgcolor , txtcolor">safsdgdf</div>
    </div>
    <div class="button-container">
        <button class="suggestedbtn , bgcolor , txtcolor">Aangeraden</button>
    <div class="button-container">
        <button id="testBtn">Yeet</button>
    </div>
    <script src="../Javascript/customizers.js"></script>
</body>
</html>