<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8" />
    <title>Voorraadsysteem</title>
    <link rel="stylesheet" href="../Css/style.css">
</head>

<body>
    <div class="navbar bgcolor" id="navbar">
        <div class="logo-container">
            <label for="logo-upload" class="file-upload-label">
                <img id="uploaded-logo" src="#" alt="Uploaded Logo">
            </label>
            <input type="file" id="logo-upload" accept="image/*" onchange="displayLogo()" class="logo-uploader">
        </div>
        <div class="color-pickers bgcolor">
            <label for="backgroundColorPicker" class="bgcolor txtcolor">bgcolor</label>
            <input type="color" id="backgroundColorPicker" class="color-picker bgcolor" />
            <label for="textColorPicker" class="txtcolor">Select Text Color: </label>
            <input type="color" id="textColorPicker" class="color-picker bgcolor " />
            <button class="nav-btn bgcolor txtcolor" id="popupBtn" onclick="toggleNavbar()">+</button>
            <div class="popup bgcolor" id="popupBox">
                <a href="index.html"><button class="popup-btn bgcolor txtcolor" id="ingredientBtn">+
                        Homepage</button></a>
                <a href="ingredient_form.html"><button class="popup-btn bgcolor txtcolor" id="ingredientBtn">+
                        Ingredienten toevoegen</button></a>
                <a href="recep.html"><button class="popup-btn bgcolor txtcolor" id="receptenBtn">+ Recepten
                        toevoegen</button></a>
                <a href="Vooraad.html"><button class="popup-btn bgcolor txtcolor" id="voorraadBtn">+ Voorraad
                        beheren</button></a>
            </div>
        </div>
    </div>
    <div class="container" id="container">
        <div class="box1 bgcolor txtcolor">
            <h2>Meeste ingridienten</h2>
            <p>Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Consectetur rem sapiente tempora nisi accusamus harum facilis
                pariatur sit dolorem, in, quia itaque blanditiis magnam error asperiores saepe velit cum quaerat.</p>>
        </div>
        <div class="box2 bgcolor txtcolor">
            <h2 class="txtcolor">Aanbevolen Recepten</h2>
            <ul id="bbRecipe-list" class="txtcolor">

            </ul>
        </div>
        <div class="box3 bgcolor txtcolor">
            <h2 class="txtcolor">Binnen kort over datum</h2>
            <ul id="expiringIngredientsList" class="txtcolor">

            </ul>
        </div>
    </div>
    <script src="../Javascript/customizers.js"></script>
    <script src="../Javascript/bbrecipes.js"></script>
    <script src="../Javascript/bbingridients.js"></script>
</body>

</html>