<!DOCTYPE html>
<html>

<head>
    <title>Recipes</title>
    <link rel="stylesheet" href="../Css/recepten.css" />
</head>

<body>
    <div class="navbar bgcolor" id="navbar">
        <div class="logo-container">
            <label for="logo-upload" class="file-upload-label">
                <img id="uploaded-logo" src="#" alt="Uploaded Logo">
            </label>
            <input type="file" id="logo-upload" accept="image/*" onchange="displayLogo()" class="logo-uploader">
        </div>
        <div class="color-pickers bgcolor">
            <label for="backgroundColorPicker" class="bgcolor"></label>
            <input type="color" id="backgroundColorPicker" class="color-picker bgcolor" />
            <label for="textColorPicker" class="bgcolor"></label>
            <input type="color" id="textColorPicker" class="color-picker bgcolor" />
            <button class="nav-btn bgcolor" id="popupBtn" onclick="toggleNavbar()">+</button>
            <div class="popup bgcolor" id="popupBox">
                <a href="index.html"><button class="popup-btn bgcolor" id="ingredientBtn">+ Homepage</button></a>
                <a href="ingredient.html"><button class="popup-btn bgcolor" id="ingredientBtn">+ Ingredienten
                        toevoegen</button></a>
                <a href="recipe.html"><button class="popup-btn bgcolor" id="receptenBtn">+ Recepten
                        toevoegen</button></a>
                <a href="ingredient.html"><button class="popup-btn bgcolor" id="voorraadBtn">+ Voorraad
                        beheren</button></a>
            </div>
        </div>
    </div>
    <div class="grid-container">
        <div class="recept-list">
            <h1 class="txtcolor">Recipes List</h1>
            <ul id="recipe-list" class="txtcolor">
                <!-- Recipes will be displayed here -->
            </ul>
        </div>
        <div class="recept-forms">
            <div class="recept-create">
                <h1 class="txtcolor">Create Recipe</h1>
                <form id="createRecipeForm">
                    <div class="form-group">
                        <label for="name" class="txtcolor">Name:</label>
                        <input type="text" id="name" name="name" class="bgcolor , txtcolor" required />
                    </div>
                    <div class="form-group">
                        <label for="description" class="txtcolor">Description:</label>
                        <input type="text" id="description" name="description" class="bgcolor , txtcolor" required />
                    </div>
                    <div class="form-group">
                        <label for="preparation_time" class="txtcolor">Preparation Time (minutes):</label>
                        <input type="number" id="preparation_time" name="preparation_time" class="bgcolor txtcolor"
                            required />
                    </div>
                    <div class="form-group">
                        <label for="cooking_time" class="txtcolor">Cooking Time (minutes):</label>
                        <input type="number" id="cooking_time" name="cooking_time" class="bgcolor txtcolor" required />
                    </div>
                    <button type="submit" class="btnCtrl , txtcolor , bgcolor">Create Recipe</button>
                </form>
                <div id="message"></div>
            </div>
        </div>
        <div class="recept-forms">
            <div class="recept-update">
                <h1 class="txtcolor">Update Recipe</h1>
                <form id="updateRecipeForm">
                    <div class="form-group">
                        <label for="oldName" class="txtcolor">Old Name:</label>
                        <input type="text" id="oldName" name="oldName" class="bgcolor txtcolor" required />
                    </div>
                    <div class="form-group">
                        <label for="newName" class="txtcolor">New Name:</label>
                        <input type="text" id="newName" name="newName" class="bgcolor txtcolor" />
                    </div>
                    <div class="form-group">
                        <label for="updateDescription" class="txtcolor">Description:</label>
                        <input type="text" id="updateDescription" name="updateDescription" class="bgcolor txtcolor" />
                    </div>
                    <div class="form-group">
                        <label for="updatePreparationTime" class="txtcolor">Preparation Time (minutes):</label>
                        <input type="number" id="updatePreparationTime" name="updatePreparationTime"
                            class="bgcolor txtcolor" />
                    </div>
                    <div class="form-group">
                        <label for="updateCookingTime" class="txtcolor">Cooking Time (minutes):</label>
                        <input type="number" id="updateCookingTime" name="updateCookingTime" class="bgcolor txtcolor" />
                    </div>
                    <button type="submit" class="btnCtrl , txtcolor , bgcolor">Update Recipe</button>
                </form>
            </div>
        </div>
    </div>
    <script src="../Javascript/recepten.js"></script>
    <script src="../Javascript/customizers.js"></script>
</body>

</html>